* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f0f2f5;
}
.container{
    display: flex;
    margin: 10%;
}

.left {
    width: 50%;
    margin-right: 0;
    padding-right: 32px;
    top: 50%;
}


.right{
    display: flex;
    justify-content: center;
}

.card {
    background-color: #fff;
    width: 25rem;
    height: 45vh;
    padding-top: 8px;
    padding-bottom: 16px;
    z-index: 5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
@media screen and (max-width:810px){
    .container{
        flex-direction: column;
    }
    .left{
        margin-bottom: 60px;
    }
}

input {
    line-height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 17px;
    padding: 0 4%;
    width: 82.5%;
    border-radius: 4px;
    color: #1d2129;
}

input:focus {
    outline: 1px solid rgb(0, 0, 256);
    border: 1px rgba(0, 0, 256, 0.4);
    border-style: ridge;
}

input::placeholder {
    color: rgba(10, 10, 10, 0.4);
}

.bottom-link {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
}

.fgt-pass {
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

.login-btn {
    background-color: #1877f2;
    width: 90%;
    font-weight: bold;
}

.hr {
    border-bottom: 1px solid #dadde1;
    width: 87.5%;
}

.cna-btn {
    background-color: #42b72a;
    font-weight: bold;
    font-size: 17px;
}

.cna-btn:hover {
    background-color: #36a420;
}

button {
    color: white;
    line-height: 48px;
    font-size: 20px;
    border-radius: 5px;
    padding: 0 16px;
    border: none;
    cursor: pointer;
}

.inn {
    margin: 8px 5px;
}

.desc {
    font-size: 28px;
    padding-left: 24px;
}
